body{
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%),rgba(0,0,0,0.5)50%,url(back.png);
    background-position: center;
    background-size: cover;
    height: 100%vh;
}
.navbar{
    width: 1200;
    height: 75px;
    margin: auto;
}
.icon{
    width: 300px;
    float: left;
    height: 70px;
}
.logo{
    
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 15px;
    float: left;
    padding-top: 10px;
}
.menu{

    width: 800px;
    float: right;
    height: 70px;
}
ul{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style-type: none;
    margin-left: 40px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a{
    color: #ff7200;
    cursor: pointer;
}
.cont{
    background-position: center;
    background:no-repeat ;
    width: 100%;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}
.cont .para{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: arial;
    letter-spacing: 1.2px;
    line-height: 30;
    font-size: 15px;
}
.cont h1{
font-family: 'Times New Roman';
font-size: 50px;
padding-left: 20px;
margin-top: 10%;
letter-spacing: 2px;
}
.cont .learn{
    width: 160px;
    height: 40px;
    background-color: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18;
    border-radius: 10;
    cursor: pointer;
}
.cont .learn{
    text-decoration: none;
    color: #000;
    transition: 0.4s ease-in-out;
}